

:root{
    --white: ■#ddds;
    --dark:口#111;
    --darkGrey: #474b4f;
    --lightGrey:口#6b6e70;
    --lightGreen:#86c232;
    --darkGreen:#61892f;
    -transition:all 0.5s ease;
}

*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}